
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* START NAV BAR*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
/* END OF NAV BAR*/

.registerform {
    margin: auto;
    margin-top: 200px;
    width: 450px;
    padding: 20px;
    background-color: #4CAF50;
}

.reghead {
    text-align: center;
    color: white;
}

.label {
    color: white;
    margin: 8px 8px 20px 20px;
}

.input {
    margin: 8px 8px 20px 20px;
    height: 18px;
    width: 400px;
}

.button {
    border: 2px solid #4CAF50;
    color: #4CAF50;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.button:hover {
    background-color: #4CAF50; 
    color: white; 
    border: 2px solid white;
    border-radius: 5px; /*rounds edges of border */
}